@import '../../../styles.scss';
.dashboard-grid {
  width: 100wh;
  height: auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  .left-pane {
    background-color: $app-cold-glass;
    border-radius: 1rem;
    margin-right:2rem;
    .add-token{
      margin-bottom: 2rem
    }
  };
  .right-pane {
    // grid-template-rows: 1fr 4fr;
    border-radius: 1rem;

    }
    .arbitrage-details{
      background-color: $app-cold-glass;
    }
};
