<mat-toolbar class="navbar" color="primary">
  <div>
    <span>Hydra Blockchain App</span>
    <button mat-button>TODO: NETWORK SELECT</button>
  </div>
  <div class="navigation-links">
    <button mat-button>
      TODO: WALLET ADDRESS
    </button>
    <button mat-button>
      Manage Wallet
    </button>
    <button mat-button>
      Arbitrage
    </button>
    <button mat-button>
      Liquidation
    </button>
    <button mat-button>
      Database
    </button>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>
