<div class="landing-page">
  <p class="title">CONFLUENCE <strong>BLOCKCHAIN</strong> MANAGEMENT</p>
  <h5 class="description">Manage positions, liquidity pools, arbitrage and liquidations</h5>
  <div class="actions">
    <button mat-raised-button color="primary" (click)="openModal()">
      Launch App
    </button>
    <!-- <button mat-raised-button color="primary" routerLink="/dashboard">
      Launch App
    </button> -->
    <button mat-raised-button>
      Read More
    </button>
  </div>
  <div class="footer">
    <div class="social">
    </div>
    <div class="contact">
      <button mat-fab color="primary">
        <mat-icon>
          telegram
        </mat-icon>
      </button>
    </div>
  </div>
</div>
